@charset "utf-8";
/* CSS Document */
.header{padding: 0 20px;box-sizing: border-box;}
.hs{height: 52px;margin-top: 22px;padding: 0;}
.header .logo{font-size: 0;margin-top: 9px;}
.header .logo img{width: 160px;height: 34px;}
.header input{width: 380px;height: 26px;border: 1px solid #969696;margin-top: 13px;background: url(../img/../img/sousuo.png) no-repeat 355px center;background-size: 15px;padding: 0 10px;box-sizing: border-box;}
.banner{width: 100%;height: 342px;font-size: 0;text-align: center;position: relative;}
.banner img{width: 100%;height: auto;}
.surfas{background-color: #1570A5;padding: 0 32px 0 20px;color: #fff;box-sizing: border-box;width: 312px;height: 210px;position: absolute;left: 24px;top: 20px}
.surfas h5{font-size: 26px;line-height: 54px;}
.surfas p{font-size: 20px;line-height: 24px;}
.surfas span{font-size: 12px;line-height: 36px;}
.content{font-size: 0;width: 100%;padding: 0 20px;box-sizing: border-box;}
.content .con1{padding: 0 10px 0 0;float:left;margin:26px 0 0 0;box-sizing:border-box;width: 33.3%;}
.content .con2{padding: 0 10px 0 10px;float:left;margin:26px 0 0 0;box-sizing:border-box;width: 33.3%;}
.content .con3{padding: 0 0 0 10px;float:left;margin:26px 0 0 0;box-sizing:border-box;width: 33.3%;}
.content img{width: 100%;height: auto;}
.know{width: 100%;padding: 0 13px;}
.know .xnav{width: 25%;display: inline-block;float: left;margin-top: 10px;}
.know .xxnav{float: left;margin-top: -46px;}
.know h5{font-size: 36px;line-height: 54px;/*width: 25%;float: left;*/}
.know .xnav li{line-height: 40px;font-size: 14px;color: #1570A5;margin:0;float: none;}
.know .xxnav li{font-size: 16px;line-height: 30px;padding: 0 8px;margin-right: 5px;}
.know .xxnav li:hover{color: #fff;background: #1570A6;}
.know .pro{font-size: 0;width: 25%;height: auto;margin-top: 0;float: left;padding: 0 7px;box-sizing: border-box;}
.know .pro p{font-size: 12px;color: #1570A5;line-height: 22px;margin-left: 24px;display: block;margin: 0;}
.know .pro img{width: 100%;height: auto;}
.list{padding: 0 13px 65px 13px;box-sizing: border-box;float: right;width: auto;}
.list div{margin-top: 0;float: left;}
.list .list1{padding-right: 128px;box-sizing:border-box;}
.list .list2{padding-right: 100px;box-sizing:border-box;}
.list .list3{padding-right: 80px;box-sizing:border-box;}
.list div h4{font-size: 28px;line-height: 74px;}
.list div li{font-size: 12px;line-height: 28px;}
.list div li a{color: #1570A6;}

.text{background-color: #1570A5;width: 100%;height: auto;padding: 22px 22px 24px 20px;box-sizing: border-box;margin-top: 0;}
.text .text_con{background-color: rgba(0,0,0,.3);padding: 16px 16px 20px 16px;box-sizing: border-box;color: #fff;float: right;width: 75%;}
.text .text_con .p1{display: block;font-size: 18px;line-height: 24px;}
.text .text_con .p2{font-size: 14px;line-height: 25px;}
/*.text .img{width: auto;height: auto;font-size: 0;}*/
.text img{max-width: 130px;width: auto;max-height: 97px;height: auto;}
.text h1{font-size: 24px;line-height: 34px;color: #fff;font-weight: normal;margin-top: 22px;}
.text h2{font-weight: normal;line-height: 54px;font-size: 16px;color: #fff;float: none;margin-right: 10px;}
.text h3{font-size: 16px;line-height: 54px;color: #fff;font-weight: normal;float: none;}


.about{padding: 28px 20px 0 20px;box-sizing: border-box;background: #EEEEEE;}
.about h4{font-size: 20px;font-weight: normal;}
.about li{font-size: 12px;color: #1570A5;}
.about .other{margin-bottom: 0;width: 25%;}
.about .other li{font-size: 13px;color: #000;line-height: 32px;}
.about .other h4{line-height: 38px;}
.about .other li span{font-size: 24px;margin-right: 12px;line-height: 32px;height: 32px;display: inline-block;}
.about .dow{width: 25%;float: left;padding-right: 20px;box-sizing: border-box;}
.about .dow h4{line-height: 36px;}
.about .dow li{line-height: 24px;}
.about .trend{margin-top: 0;float: left;width: 25%;padding-right: 20px;box-sizing: border-box;}
.about .trend h4{line-height: 36px;}
.about .trend li{line-height: 24px;}
.about .backup{width: 25%;float: left;padding-right: 20px;box-sizing: border-box;}
.about .backup li{line-height: 24px}
.about .backup h4{line-height: 36px;}
.about .abou{width: 25%;float: left;margin-top: -20px;}
.about .abou h4{line-height: 36px;}
.about .abou li{line-height: 24px;}



.footer{font-size: 15px;}
.footer a{font-size: 12px;color: #1570A5;}
.footer .s1{font-size: 30px;display: inline-block;height: 50px;line-height: 50px;vertical-align: middle;float:left;}
.footer .s2{display: inline-block;height: 50px;line-height: 50px;float:left;}
.footer .s3{float: right;}
.foot1{line-height: 50px;}
.foot2{line-height: 40px;float: right;}
.foot3{line-height: 28px;display: inline-block;margin-right: 10px;}
.foot4{line-height: 26px;display: inline-block;}
.foot4 a{margin-right: 24px;}
.foot5{display: inline-block;}





























.pcdn{
	display: none;
}
.pcdb{
	display: block;
}


.pcgwidth{
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}